body {
    margin: 100px;
}

#house {
    position: relative;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    background-color: gray;
}

#chimney {
    position: absolute;
    width: 50px;
    top: -40px;
    height: 40px;
    left: 50px;
    z-index: -999;
    border: 1px solid black;
    background-color: burlywood;
}

#roof {
    position: absolute;
    top: 0;
    width: 500px;
    height: 80px;
    background-color: lightblue;
    border: 1px solid black;
}

#window-1 {
    position: absolute;
    top: 120px;
    left: 70px;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    background-color: white;
}

#window-2 {
    position: absolute;
    top: 120px;
    right: 70px;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    background-color: white;
}

#door {
    background-color: brown;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 190px;
    width: 120px;
    height: 150px;
}